.container-module {
    margin: 0 auto;
    padding: 50px 0;
    width: 1170px;
    background-color: #fff;
  }

.header {
  margin: 0 auto;
  width: 1170px;
  background-color: blue;
}

.input-div {
    margin-bottom: 10px;
}